<div class="card-simple view-card">
  {{ $item := .item }}

  {{/* 링크 설정 */}}
  {{ $link := $item.RelPermalink }}
  {{ $target := "" }}

  {{ $ext_link := $item.RelPermalink }}
  {{ $ext_target := "" }}
  {{ if $item.Params.external_link }}
    {{ $ext_link := $item.Params.external_link }}
    {{ $ext_target := "target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}

  {{/* 요약 설정 */}}
  {{ $summary := "" }}
  {{ if $item.Params.summary }}
    {{ $summary = $item.Params.summary | markdownify | emojify }}
  {{ else if $item.Params.abstract }}
    {{ $summary = $item.Params.abstract | markdownify | emojify }}
  {{ else if $item.Summary }}
    {{ $summary = $item.Summary }}
  {{ end }}

  {{/* 이미지 출력 */}}
  {{ $image := resources.Get (printf "media/%s" $item.Params.image.filename) }}
  {{ if $image }}
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>
      <div class="img-hover-zoom" style="padding-top: 10pt;">
        <center>
          <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" loading="lazy" style="width: 90%; height: auto;">
        </center>
      </div>
    </a>
  {{ end }}

  {{/* 제목 출력 */}}
  <div class="section-subheading article-title mb-1 mt-3">
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
  </div>

  {{/* 요약 출력 */}}
  {{ with $summary }}
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="summary-link">
      <div class="article-style">
        <p>{{ . }}</p>
      </div>
    </a>
  {{ end }}

  {{/* 외부 링크가 있는 경우 처리 */}}
  {{ if $item.Params.external_link }}
  <div class="btn-links" style="font-size: small;">
    <a href="{{ $item.Params.external_link }}" {{ $ext_target | safeHTMLAttr }}>Extra Link</a>
  </div>
  {{ end }}

  {{/* 첨부 파일이 있는 경우 처리 */}}
  {{ if $item.Params.attachments }}
  <div class="btn-links" style="font-size: small;">
    <a href="{{ $item.Params.attachments }}">Download Attachment</a>
  </div>
  {{ end }}
  
</div>
  