<div class="card-simple view-card">
  {{/* 링크 설정 */}}
  {{ $link := .RelPermalink }}
  {{ $target := "" }}
  {{ if .Params.external_link }}
    {{ $link = .Params.external_link }}
    {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}

  {{/* 요약 설정 */}}
  {{ $summary := "" }}
  {{ if .Params.summary }}
    {{ $summary = .Params.summary | markdownify | emojify }}
  {{ else if .Params.abstract }}
    {{ $summary = .Params.abstract | markdownify | emojify }}
  {{ else if .Summary }}
    {{ $summary = .Summary }}
  {{ end }}
  
  <a href="{{ .RelPermalink }}">
    {{ with .Params.image }}
      <div class="img-hover-zoom">
        <img src="{{ . }}" alt="{{ .Title }}" loading="lazy" style="width: 100%; height: auto;">
      </div>
    {{ end }}
    <div class="section-subheading article-title mb-1 mt-3">
      {{ .Title }}
    </div>
  </a>
  {{ with .Summary }}
  <div class="article-style">
    <p>{{ . }}</p>
  </div>
  {{ end }}
</div>
