<div class="card-simple view-card">
  {{ $link := .RelPermalink }}
  {{ $target := "" }}
  
  {{ if .Params.external_link }}
    {{ $link = .Params.external_link }}
    {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}

  {{ $summary := "" }}
  {{ if .Params.summary }}
    {{ $summary = .Params.summary | markdownify | emojify }}
  {{ else if .Params.abstract }}
    {{ $summary = .Params.abstract | markdownify | emojify }}
  {{ else if .Summary }}
    {{ $summary = .Summary }}
  {{ end }}

  <div class="card-content">
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>
      <h3>{{ .Title }}</h3>
    </a>
    {{ if $summary }}
      <p>{{ $summary }}</p>
    {{ end }}
  </div>
</div>
