<div class="card-simple view-card">

    {{/* 링크 설정 */}}
    {{ $link := .RelPermalink }}
    {{ $target := "" }}
    {{ if .Params.external_link }}
      {{ $link = .Params.external_link }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
  
    {{/* 요약 설정 */}}
    {{ $summary := "" }}
    {{ if .Params.summary }}
      {{ $summary = .Params.summary | markdownify | emojify }}
    {{ else if .Params.abstract }}
      {{ $summary = .Params.abstract | markdownify | emojify }}
    {{ else if .Summary }}
      {{ $summary = .Summary }}
    {{ end }}
  
    {{/* 메타데이터 출력 (이벤트의 경우 처리) */}}
    {{ if eq .Type "event" }}
    <div class="article-metadata">
      {{ if .Params.authors }}
      <div>
        <span>{{ .Params.authors }}</span>
      </div>
      {{ end }}
      <span>{{ .Params.date }}</span>
      {{ with .Params.location }}
      <span class="middot-divider"></span>
      <span>{{ . }}</span>
      {{ end }}
    </div>
    {{ else }}
    <div class="page-metadata">
      <span>{{ .Date.Format "January 2, 2006" }}</span>
    </div>
    {{ end }}
  
    {{/* 이미지 출력 */}}
    {{ with .Params.image }}
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>
        <div class="img-hover-zoom">
          <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy" style="width: 100%; height: auto;">
        </div>
      </a>
    {{ end }}
  
    {{/* 제목 출력 */}}
    <div class="section-subheading article-title mb-1 mt-3">
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a>
    </div>
  
    {{/* 요약 출력 */}}
    {{ with $summary }}
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="summary-link">
        <div class="article-style">
          <p>{{ . }}</p>
        </div>
      </a>
    {{ end }}
  
    {{/* 첨부 파일이 있는 경우 처리 */}}
    {{ if .Params.attachments }}
    <div class="btn-links">
      <a href="{{ .Params.attachments }}">Download Attachment</a>
    </div>
    {{ end }}
  
  </div>
  